@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  margin: 0;
}
#root {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
h1{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}
figure{
  margin: 0;
}

.FlexContainer{
  text-align: left;
  margin-left: 1em;
} 
.PetTagContainer{
  display: flex;
  padding: 0rem 0rem 0rem 2rem;
  padding-top: 1em;
  padding-bottom: 2rem;
}
.PetCardContainer{
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* scroll-behavior: smooth; */
  padding: 0rem 2rem;
}
.PetCardContainer::-webkit-scrollbar {
  display: none;
}
p{
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

a {
  text-decoration: none;
  color: black;
}
h2{
  font-family: 'Lato', sans-serif;
}
